.footer{
  background: #E5CD68;
  text-align: center;
  color: #FFF;
}
.bann-strip-main div{
  margin-bottom: 15px;
}
.gallery{
  padding-top: 0;
}
.gallery-top{
  padding-bottom: 2em;
}
.res li{
  background: #E5CD68 !important;
}
.res a{
  color: #FFF !important;
}
.view.view-third img{
	width: 100%;
	height: 100%;
}
.banner-right img{
  height: 422px;
}
.my-page{
  padding: 3em 0;
}